/* GENERALES */

body {
    font-family: pangram;
    overflow-x: hidden;
}

/* BOOTSTRAP */

input:focus {
    box-shadow: none !important;
    border-color: var(--beige) !important;
}

.nav-link {
    color: rgba(0, 0, 0, 0.55);
}

.nav-link:hover {
    cursor: pointer;
}

/* FUENTES */

@font-face {
    font-family: pangram;
    src: url(../assets/fonts/Pangram-Regular.otf);
}

/* COLORES */

:root {
    --main-color: #6c63ff;
    --orange: #fabb51;
    --blue: #536dfe;
    --gris: #3f3d56;
    --beige: #f6d7a7;
}

/* NAVEGACIÓN */

.icono-header {
    color: var(--blue);
}

.title-header {
    color: var(--gris);
}

.brand-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navbar-collapse {
    width: 100%;
}

/* MAIN - INICIO */

.contenedor-inicio {
    display: flex;
    margin-top: 2rem;
}

.blob {
    position: fixed;
}

/* TITULO */

.texto-inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    color: var(--gris);
    padding: 2rem;
}

.title-inicio {
    font-weight: bold;
    color: var(--orange);
    font-size: 4.6rem;
}

.parrafo-inicio {
    text-align: center;
    font-size: 1.45rem;
    color: var(--gris);
}

/* BANNER - IMAGEN */

.banner {
    text-align: right;
}

.banner-principal {
    position: relative;
    width: 90%;
    height: auto;
}

.img1 {
    transition: all 1s;
}

/* PALETA DE COLORES */

.contenedor-paleta {
    display: flex;
    justify-content: space-around;
    height: 100vh;
    margin-top: 3rem;
}

.contenedor-paleta-hora {
    flex: auto;
    align-items: center;
}

.contenedor-colores {
    display: flex;
    width: 90%;
}

.contenedor-opciones-generales {
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 10%;
}

.contenedor-color {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.contenedor-hex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 35%;
    cursor: move;
}

.color-name {
    font-size: 0.8rem;
}

.opciones {
    display: flex;
    height: 65%;
    flex-direction: column;
    justify-content: center;
}

/* ICONOS */

.fas:hover,
.fa:hover,
.color-hex,
.far:hover {
    cursor: pointer;
    opacity: 0.7;
}

.fa-save,
.fa-plus,
.fa-trash-alt,
.fa-palette2,
.fa-fill {
    text-align: center;
    margin: 1rem 0;
    color: #fff;
}

.fa-arrow-up {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 1rem;
    color: var(--gris);
    font-size: 2rem;
}

.fa-times,
.fa-dice,
.fa-blender {
    width: 10%;
    margin: 1rem auto;
}

.fa-pencil-alt {
    position: absolute;
    align-self: center;
    margin: 0 1rem;
}

.mixing {
    width: 150px;
    text-align: center;
    margin: 1rem 0;
    padding-left: 1rem;
}

/* REGISTER */

/* FORMULARIO */

.contenedor-formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    text-align: center;
}

.contenedor-formulario form {
    padding: 1rem;
    width: 50%;
}

.icono-form {
    font-size: 4rem;
    margin-bottom: 2rem;
    color: var(--orange);
}

/* PALETAS GUARDADAS */

/* ICONOS */

.opcionesMenores {
    width: 10%;
    margin: 1rem auto;
}

.borrarPaletas,
.actualizarPaletas {
    color: var(--gris);
}

.fondo-wave3 {
    position: absolute;
    top: -5.5rem;
    left: 26rem;
    z-index: -1;
    width: 35%;
}

.contenedor-paletas-guardadas {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem;
}

.texto-guardadas {
    font-size: 1.45rem;
    color: var(--main-color);
}

.texto-guardadas:hover {
    cursor: pointer;
}

.contenedor-paletas {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 2rem;
}

.paletas-guardadas {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem;
}

.paleta-guardada {
    margin: 0.5rem;
}

.paleta-guardada:hover {
    cursor: pointer;
}

.paleta-color {
    width: 35px;
    border: 1px solid var(--gris);
}

.color-text {
    width: 10px;
    height: 100%;
    word-wrap: break-word;
    margin: 0 auto;
}

.fecha-hora {
    font-size: 0.7rem;
}

/* DRAG AND DROP */

.seleccionado {
    box-shadow: 0px 0px 20px rgba(149, 153, 159, 0.16);
}

.fantasma {
    border: 2px dotted #fff;
}

.drag {
    opacity: 0;
}

/* FOOTER */

.footer {
    height: auto;
    background-color: var(--bs-gray-800);
}

.flex-padre-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 1rem;
}

.titulo-footer {
    color: var(--orange);
    font-weight: bold;
    width: 100%;
    text-align: center;
}

.items-footer {
    flex-grow: 1;
    justify-content: center;
}

.separador {
    height: 14rem;
    width: 1px;
    margin: 0 2rem;
    background-color: var(--bs-gray-100);
}

/* ENLACES */

.contenedor-enlaces-padre {
    width: 72.5%;
}

.lista-item {
    color: var(--bs-gray-100);
}

.lista-item:active,
.lista-item:hover {
    color: var(--beige);
}

/* REDES */

.contenedor-redes,
.contenedor-contacto,
.contenedor-enlaces {
    width: 100%;
}

/* CONTACTO */

.form-control {
    margin-top: 1.75rem;
}

.form-control:focus {
    box-shadow: 0px 2px 9px 4px var(--orange) !important;
}

/* LOGO */

.contenedor-logo {
    width: 60%;
    display: flex;
    align-items: center;
}

.icono-footer {
    font-size: 7rem;
    width: 100%;
    text-align: center;
    color: var(--bs-gray-100);
}

/* BREAKPOINTS */

/* INDEX */

@media screen and (max-width: 700px) {
    /* INICIO */

    .contenedor-inicio {
        flex-direction: column;
    }
    .banner {
        padding: 2rem;
    }
    .texto-inicio {
        width: 100%;
        padding: 1rem;
    }
    .title-inicio {
        font-size: 2.4rem;
    }
    .parrafo-inicio {
        font-size: 1.2rem;
    }

    /* PALETAS */

    .contenedor-paleta {
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
    .contenedor-opciones-generales {
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
    }
    .contenedor-colores {
        width: 100%;
        height: 100%;
        flex-wrap: wrap;
    }
    .contenedor-color {
        padding: 2rem 1.5rem 0.5rem 1.5rem;
        flex-grow: 1;
    }
    .contenedor-hex {
        margin: 1rem auto 0 auto;
        width: fit-content;
    }

    /* FOOTER */

    .footer {
        height: 100vh;
    }

    .flex-padre-footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .contenedor-enlaces-padre {
        font-size: 0.9rem;
        width: 100%;
        flex-direction: row !important;
        grid-column: 1 / 3;
    }

    .contenedor-redes {
        height: 100%;
        padding: 0.7rem 0;
    }

    .contenedor-contacto {
        grid-column: 2 / 3;
        grid-row: 2;
    }

    .contenedor-logo {
        grid-column: 1 / 2;
        grid-row: 2;
        width: 100%;
    }

    .icono-footer {
        font-size: 4rem;
    }

    .separador {
        display: none;
    }
}

@media (max-width: 430px) {
    .footer {
        height: auto;
    }

    .flex-padre-footer {
        display: flex;
        flex-direction: column;
    }

    .lista-enlaces {
        padding: 0;
    }

    .contenedor-contacto {
        margin-top: 1rem;
    }

    .contenedor-logo {
        margin-top: 2rem;
    }

    .contenedor-redes {
        padding: 0;
    }

    .icono-footer {
        font-size: 7rem;
    }

    .separador {
        display: none;
    }
}

@media screen and (min-width: 500px) and (max-width: 700px) {
    .contenedor-color {
        width: 50%;
        flex-grow: 1;
    }
}

@media screen and (min-width: 768px) {
    [data-title]:hover:after {
        opacity: 1;
        transition: all 0.1s ease 0.5s;
        visibility: visible;
    }

    [data-title]:after {
        content: attr(data-title);
        background-color: #333;
        color: #fff;
        font-size: 1rem;
        width: 8rem;
        position: absolute;
        top: -1.6rem;
        padding: 3px 10px;
        left: -3.5rem;
        box-shadow: 1px 1px 3px #222222;
        border: 1px solid #111111;
        z-index: 99999;
        visibility: hidden;
        border-radius: 6px;
    }
    [data-title] {
        position: relative;
    }

    [data-title2]:hover:after {
        opacity: 1;
        transition: all 0.1s ease 0.5s;
        visibility: visible;
    }

    [data-title2]:after {
        content: attr(data-title2);
        background-color: #333;
        color: #fff;
        font-size: 1rem;
        width: 8rem;
        position: absolute;
        top: -2.5rem;
        padding: 3px 10px;
        left: 2rem;
        box-shadow: 1px 1px 3px #222222;
        border: 1px solid #111111;
        z-index: 99999;
        visibility: hidden;
        border-radius: 6px;
    }
    [data-title2] {
        position: relative;
    }
}

/* PALETAS GUARDADAS */

@media screen and (max-width: 700px) {
    .contenedorIconosPaletas {
        justify-content: center !important;
    }
    .contenedor-paletas-guardadas {
        margin: 0;
    }
    .paletas-guardadas {
        justify-content: center;
    }
    .texto-guardadas {
        text-align: center;
        margin-top: 4rem;
    }
}

/* PÁGINA DE REGISTRO */

@media screen and (max-width: 700px) {
    .contenedor-formulario {
        height: initial;
        margin-top: 2rem;
    }
    .contenedor-formulario form {
        width: initial;
    }
    .contenedor-formulario form div,
    .contenedor-formulario form input,
    .contenedor-formulario form label {
        font-size: 1rem;
    }
    .icono-form {
        font-size: 3.2rem;
    }
}
